body {
    background-color: #f2f2f2;
    font-family: 'Times New Roman';
}


#title {
    text-align: center;
    margin: 20px;
    color: #230d6b;
    position: relative;
    z-index: 1;
}

.box {
    max-width: 350px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #444;
    background-color: #ffffff;
    overflow: hidden;
}


label {
    display: block;
    margin-top: 10px;
    color: #555;
}


input {
    width: 100%;
    padding: 7px;
    margin-top: 10px;
    border: 1px solid #160000;
}


.buttons {
    text-align: center;
    margin-top: 20px;
}


button {
    display: inline-block;
    width: 40%;
    padding: 6px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
}


.cancel {
    background-color: #f44336;
    position: relative;
    top: 3px;
}