body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.top-bag{
    height: 250px;
    background-color: #4fa8e9;
    position: relative;
    z-index: 1;
}

.contact-box {
    max-width: 700px;             
    background-color: white;
    margin: -120px auto 0;
    padding: 40px;
    border-radius: 6px;
    position: relative;      
    z-index: 2;                  
}


h1 {
    text-align: center;
    margin-bottom: 5px;
}


.subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
    overflow: hidden;
    display: block;  
}


.contact-table {
    width: 100%;
    border-collapse: collapse;
}


.contact-table td {
    padding: 11px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 60px;        
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}


button {
    margin-top: 20px;
    padding: 18px;
    font-weight: bold;
    width: 100%;
    background-color: #4fa8e9;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}