<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>


    <link rel="stylesheet" href="registration.css">

</head>

<body>

    <form class="form-box">

        <h1 class="title">Registration</h1>

        <p id="note">Please fill all fields carefully</p>

        <table class="reg-table">

            <tr>
                <td>Name :</td>
                <td><input type="text"></td>
            </tr>

            <tr>
                <td>Email :</td>
                <td><input type="email"></td>
            </tr>

            <tr>
                <td>Password :</td>
                <td><input type="password"></td>
            </tr>

            <tr>
                <td>Confirm Password :</td>
                <td><input type="password"></td>
            </tr>

            <tr>
                <td>Gender :</td>
                <td>
                    <input type="radio" name="gender"> Male
                    <input type="radio" name="gender"> Female
                </td>
            </tr>

            <tr>
                <td colspan="2" class="btn-row">
                    <input type="submit" value="Submit" class="btn">
                    <input type="reset" value="Reset" class="btn">
                </td>
            </tr>

        </table>

    </form>

</body>
</html>